html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 125px;
    height: 100%;
}

/* Carousel */

.carousel-home-page row {
    padding-left: -15px;
    padding-right: -15px;
    /*height: 100vh;*/
    height: 100vh;
    min-height: 700px;
}

.carousel-fullscreen {
    right: 0;
    left: 0;
    position: absolute;
}

    .carousel-fullscreen .carousel-inner .item {
        height: 100vh;
        min-height: 700px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* carousel fullscreen - vertically centered caption*/

    .carousel-fullscreen .carousel-caption {
        top: 30%;
        bottom: auto;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
    margin: 0;
    padding: 0;
}


/* demo typography */

h1, h2, h3, h4 {
    font-weight: 700;
}

.super-heading {
    font-size: 50px;
}


.super-paragraph {
    font-size: 25px;
    font-weight: 300;
}

.carousel-caption .super-paragraph a,
.carousel-caption .super-paragraph a:hover {
    color: #fff;
}

#carousel-example-generic {
    margin: 40px 0;
}

/* carousel fade */


.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.carousel-fade .carousel-control {
    z-index: 2;
}

.demo-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Carousel END*/

/* Event Card */

.event-card {
    margin-bottom: 25px;
}

.pagination li.disabled a {
    pointer-events: none;
}


/* Calendar */

.fc-button-group, .fc button {
    display: block;
}

#calendar {
    padding-bottom: 35px;
}
/* Footer */
.footer {
    position: absolute;
    bottom: -100px;
    width: 100%;
    background-color: lightgray;
    height: 120px;
    padding-top: 10px;
}



    .footer .footer-copyright {
        background-color: #616161;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }

        .footer .footer-copyright p {
            color: #ccc;
        }

    .footer ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }

        .footer ul li a:hover {
            color: black;
        }


    .footer h5 {
        font-size: 18px;
        color: grey;
        font-weight: bold;
        margin-top: 5px;
    }

.footer-logo {
    font-size: 30px;
    text-align: center;
    color: rgb(96, 125, 139);
}


.footer a {
    color: darkgray;
    text-decoration: none;
}

#footer-button {
    color: white;
    background-color: rgb(96, 125, 139);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}



@media screen and (max-width: 767px) {
    .footer {
        text-align: center;
        height: 150px;
        background-color: transparent;
        bottom: -130px;
    }

        .footer div ul li a {
            color: #616161;
        }

        .footer div {
            background-color: lightgray;
        }

        .footer h5 {
            margin-top: 0px;
            display: none;
        }

    .footer-logo {
        display: none;
    }

    #footer-button {
        display: none;
    }

    .get-starter-footer {
        display: none;
    }


    .carousel-fullscreen .carousel-inner .item {
        height: 95vh;
        min-height: 500px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}



/* SideBar */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #e6e6e6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}


.error-note {
    color: red;
}

.price-check-error {
    color: #a94442
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #161616;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #808080;
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active {
                color: red;
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #161616;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(min-width:990px) {

    .event-side-info {
        background-color: #e6e6e6;
        min-height: 96%;
        position: absolute;
        right: 0;
        width: 350px;
        border: 1px solid black;
        padding-top: 20px;
        text-align: center;
    }

    .event-side-title-info {
        border-top: 2px solid black;
        padding-top: 10px;
    }

        .event-side-title-info p {
            font-size: 14px;
        }

    .price-side-info {
        border-top: 2px solid black;
        padding-top: 10px;
        margin-top: 10px;
    }

        .price-side-info p {
            font-size: 14px;
        }
}



@media(max-width:990px) {
    .event-side-info {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 15px;
        border-radius: 4px;
        background-color: #e6e6e6;
        text-align: center;
        box-shadow: 2px 2px 5px grey;
    }
}

.input-card-panel {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel-group .panel {
    margin-bottom: 20px;
}

.event-panel-card {
    box-shadow: 2px 2px 5px grey;
}

.secLot-input {
    width: 70%;
}

.eventDetails {
    margin-top: 25px;
    padding: 15px;
    background-color: #f8f8f8;
}


@media(min-width:900px) {
    .event-details-row {
        display: flex;
    }

    .event-details-box {
        flex: 1;
        border: 1px solid #cecece;
        border-radius: 4px;
        padding: 15px;
        margin: 10px;
        background-color: white;
    }
}

@media(max-width:899px) {
    .event-details-row {
        display: grid
    }

    .event-details-box {
        border: 1px solid #cecece;
        border-radius: 4px;
        padding: 15px;
        margin: 10px;
        background-color: white;
    }
}



.event-details-box-title {
    text-align: center;
    font-weight: bold;
}

.event-details-box-content {
    font-size: 13px;
}

.event-details-box-content-details {
    font-size: 11px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.event-details-box-content-totalPrice {
    text-align: right;
}

.event-details-personal-info {
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 15px;
    background-color: white;
}

.event-details-personal-info-title {
    font-weight: bold;
}

.event-details-personal-info-content {
    font-size: 13px;
}

/* Gallery */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

    #profile-grid .profile {
        padding-bottom: 40px;
    }

    #profile-grid .panel {
        padding: 0
    }

    #profile-grid .panel-body {
        padding: 15px
    }

    #profile-grid .profile-name {
        font-weight: bold;
    }

    #profile-grid .thumbnail {
        margin-bottom: 6px;
    }

    #profile-grid .panel-thumbnail {
        overflow: hidden;
    }

    #profile-grid .img-rounded {
        border-radius: 4px 4px 0 0;
    }




.form-title {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.input-redirect {
    font-size: 13px;
}


.hall-rental-prices-title {
    font-size: 11px;
    font-style: italic;
}

.hall-rental-prices {
    font-size: 11px;
    text-align: right;
    font-weight: bold;
}

.hall-details-price {
    font-weight: bold;
}


.panel-form-body {
    padding-top: 25px;
}

.navbar {
    background: rgb(96, 125, 139);
    color: white;
}


.callendar-btn-active {
    background: #616161;
    color: white;
}

.navbar .navbar-toggle {
    border-color: white;
}

    .navbar .navbar-toggle .icon-bar {
        background-color: white;
    }

.security-deposit-info-link {
    font-size: 10px;
}


.page-content {
    padding-bottom: 20px;
}


.gallery-image {
    height: 230px;
    width: 350px;
    background-position: center;
    background-size: cover;
    object-fit: cover
}

.imgContainer {
    overflow: hidden;
    width: 350px;
    height: 230px;
}

    .imgContainer img {
        width: 350px;
        height: 230px;
    }


/* Mobile text */
@media screen and (max-width: 500px) {
    #hall-name {
        font-size: 23px;
        text-align: center;
    }

    .form-title-text {
        font-size: 23px;
    }

    .fc-left h2 {
        font-size: 23px;
    }
}

@media screen and (min-width: 500px) {
    #hall-name {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

.contact-form-content {
    margin-top: 30px;
}