@model ContactFormModel

@{
    ViewData["Title"] = "Contact";
}



<h2>@ViewData["Title"]</h2>

<hr />
<div class="container">

    <div class="row page-content">
        <div class="row">

            <div class="col-md-4">
                <address>
                  
                    <p>Phone: 2344 461-4324 </p>
                    <p>Fax: 546 546 456</p>
                </address>

                <address>
                    <strong>Email:</strong> <br />
                </address>
            </div>
            <div class="col-md-8">
                <div id="map"></div>
            </div>
        </div>

        <div class="contact-form-content">
            <section>
                <div class="w3-card-4 w3-round">
                    <div class="w3-container form-title w3-dark-grey">
                        <h2>Contact Us</h2>
                    </div>
                    <form class="w3-container w3-light-grey" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" placeholder="Your Name" class="w3-input w3-border-0" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" placeholder="Your Email" class="w3-input w3-border-0" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input asp-for="Subject" placeholder="Subject" class="w3-input w3-border-0" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Message" rows="4" placeholder="Your Message:" class="w3-input w3-border-0"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="w3-button w3-border w3-dark-grey w3-round">Send</button>
                        </div>

                    </form>
                </div>
            </section>

        </div>

    </div>
</div>


@section Scripts {
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 40.797604, lng: -73.9586937 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
}