
@{
    ViewData["Title"] = "Gallery";
}

<h2>Gallery</h2>

<hr>

<section id="profiles" class="page">

    <div class="container-fluid">
        <div class="row" id="profile-grid">
            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 1" class="thumb">
                            <img src="~/images/page1.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 2" class="thumb">
                            <img src="~/images/page2.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 3" class="thumb">
                            <img src="~/images/page1.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 4" class="thumb">
                            <img src="~/images/page2.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 5" class="thumb">
                            <img src="~/images/page2.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-sm-4 col-xs-12 profile">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="#" title="image 6" class="thumb">
                            <img src="~/images/page1.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                        </a>
                    </div>

                </div>
            </div>


        </div>
    </div>

</section>

<!-- .modal-profile -->
<div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                @*<h3 class="modal-title"></h3>*@
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- //.modal-profile -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $(document).ready(function () {
            /* show lightbox when clicking a thumbnail */
            $('a.thumb').click(function (event) {
                event.preventDefault();
                var content = $('.modal-body');
                content.empty();
                var title = $(this).attr("title");
                $('.modal-title').html(title);
                content.html($(this).html());
                $(".modal-profile").modal({ show: true });
            });

        });
    </script>

}