@model HomeIndexVM

@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole(GlobalConstants.AdminRole))
{
    <div class="jumbotron">
        <h2 style="text-align:center">Administration Area</h2>

    </div>
    <hr />

    <a asp-area="Admin" asp-controller="Events" asp-action="EventRequests" class="btn btn-default">Requests for reservations <span class="badge">@Model.AllEventRequestsCount</span></a>

}
else
{
    <div class="carousel-home-page">
        <div class="row">

            <div id="carousel-example-generic2" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="background-image: url('http://dun6irwnoloqf.cloudfront.net/images/venues/547/Woodland-Hills-Country-Club-Wedding-Woodland-Hills-CA-a-.1454610601.jpg');">
                        <div class="overlay"></div>
                        <div class="carousel-caption">
                            <h1 class="super-heading">Lorem ipsum dolor color</h1>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('http://www.marriedinmilwaukee.com/wp-content/uploads/2011/11/milwaukee-wedding-venues-0312.jpg');">
                        <div class="overlay"></div>
                        <div class="carousel-caption">
                            <h1 class="super-heading">Lorem ipsum dolor color</h1>
                            <p class="super-paragraph">This is a demo for the Bootstrap Carousel Guide.</p>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('https://i.pinimg.com/originals/5a/2e/8d/5a2e8d603f867f3245be57f32ecd6d19.jpg');">
                        <div class="overlay"></div>
                        <div class="carousel-caption">
                            <h1 class="super-heading">Lorem ipsum dolor color</h1>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
                                est. Mauris placerat eleifend leo.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </div>

}


