@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Privacy policy</h2>

<p>The protection of your personal data is very important to us. Our company within the framework of the legal requirements guarantees that the processing of personal data takes into account the fundamental rights and freedoms as well as the dignity of the person concerned, with particular reference to confidentiality, personal identity and the right to protection of personal data. In this privacy policy we inform you about the most important aspects of data processing within our website.</p>
<hr />
<h3>Cookies</h3>

<p>Our website uses cookies, as almost all websites do, to help provide you with the best experience we can.</p> 
<p>Internet cookies are tiny data files that websites place and store on the computers and mobile devices of users who visit those sites. These files contain information about the user’s actions on the website.</p>
