@model EventPriceModel


<div>
    <p>Hall Rental Price: $@Model.HallPrice.ToString("F")</p>
    @if (Model.TablesAndChairsPrice > 0)
    {
        <p>Tables and chairs Price: $@Model.TablesAndChairsPrice.ToString("F")</p>

    }
    @if (Model.SecurityPrice > 0)
    {
        <p>Security hours:  @Model.ParkingLotSecurityHours</p>
        <p>Parking Lot Security Price:  $@Model.SecurityPrice.ToString("F")</p>

    }
    <hr />

    <div class="w3-container w3-dark-gray">
        <h4><b>Total Price: </b>$@Model.TotalPrice.ToString("F")</h4>
    </div>

</div>




