@model EventPriceModel


<div>
    <p>Hall Rental Price: $@Model.HallPrice.ToString("F")</p>
    @if (Model.TablesAndChairsPrice > 0)
    {
        <p>Using tables and chairs Price: $@Model.TablesAndChairsPrice.ToString("F")</p>

    }
    @if (Model.SecurityPrice > 0)
    {
        <p>Security service Price:  $@Model.SecurityPrice.ToString("F")</p>

    }
    <hr />

    <h4><b>Total Price: </b>$@Model.TotalPrice.ToString("F")</h4>

</div>




