@model DateCheckViewModel

@{
    ViewData["Title"] = "DateCheck";
}

<h2>Check if the Hall is free</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PriceCheck">

            <div class="form-group">
                <label asp-for="Halls" class="control-label">Select Hall</label>
                <select name="HallId" asp-items="Model.Halls" class="halls-dropDown form-control">
                    <option value="" disabled selected>Select Hall...</option>
                </select>
                <span id="hall-error" style="color: red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input id="EventDate" asp-for="Date" class="form-control" required />
                <span id="date-error" style="color: red"></span>
            </div>

            <div class="form-group">
                <label asp-for="RentTime" class="control-label"></label>
                <select id="RentTime" name="Renttime" class="form-control" required>

                    <option value="1">8:00 am to 3:00 pm</option>
                    <option value="2">4:00 pm to Midnight</option>
                    <option value="3">All Day</option>
                </select>
            </div>
            <input type="button" onclick="CheckDateAndTime()" value="Check" class="btn btn-default" />
            @if (User.Identity.IsAuthenticated)
            {
                <input type="submit" id="dateCheck-submit-btn" class="btn btn-primary" value="Continue" style="display: none" />
            }
        </form>

    </div>

    <div class="col-md-6">
        <div>

        </div>
        <h2 id="eventDateResult"></h2>
        <hr />
        @if (!User.Identity.IsAuthenticated)
        {
            <span>
                To Continue with Price Check and Reservevation, please <a asp-controller="Account"
                                                    asp-action="Login"
                                                    asp-route-returnUrl="@Context.Request.Path">login</a> in your account
            </span>
        }
        

    </div>
</div>


@section Scripts{

    <script>
        function CheckDateAndTime() {

            let eventDate = $('#EventDate').val();
            let rentTime = $('#RentTime').val();

            let hallSelected = $('.halls-dropDown option:selected').val();
                        
           // console.log(hallSelected)

            if (!eventDate || !hallSelected) {

                if (!eventDate) {
                    $('#date-error').text('Please specify date')
                }
                else {
                    $('#date-error').text('')
                }

                if (!hallSelected) {
                    $('#hall-error').text('Please select Hall')
                }
                else {
                    $('#hall-error').text('')
                }
            }
         
            else {
                $('#date-error').text('')
                $('#hall-error').text('')
                //console.log(eventDate)
                //console.log(rentTime)

                console.log(hallSelected)
                $.ajax({
                    type: "POST",
                    url: "/Events/CheckCurrentDate",
                    data: {
                        Date: eventDate,
                        RentTime: rentTime,
                        HallId: hallSelected
                    },
                    success: function (data) {

                        CheckIfHallIsAvailable(data)
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }


            function CheckIfHallIsAvailable(data) {
                //console.log(data.eventExists)
                if (data.eventExists) {
                    console.log('not available')
                    $('#eventDateResult').text('The Hall is not available on this this day and time')
                    $('#eventDateResult').css("color", "red")
                    $('#dateCheck-submit-btn').hide();
                }
                else {
                    $('#eventDateResult').text('The Hall is available')
                    $('#eventDateResult').css("color", "blue")
                    $('#dateCheck-submit-btn').show();
                    console.log('available')

                }

            }




        }



    </script>

}