@model DateCheckViewModel

@{
    ViewData["Title"] = "DateCheck";
}

<div class="row page-content">
    <div class="col-md-6">
        <div class="w3-card-4 w3-round w3-light-grey input-card-panel">
            <div class="w3-container form-title w3-dark-gray">
                <h2>Check for free date</h2>
            </div>
            <div class="w3-container panel-form-body">
                <form asp-action="PriceCheck" id="submitForm">
                    <div class="form-group">
                        <label asp-for="Halls" class="control-label">Select Hall</label>
                        <select name="HallId" id="HallSelectId" asp-items="Model.Halls" class="halls-dropDown form-control">
                            <option value="" disabled selected>Select Hall...</option>
                        </select>
                        <span id="hall-error" class="error-note"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input id="EventDateInputId" asp-for="Date" class="form-control" required />
                        <span id="date-error" class="error-note"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RentTime" class="control-label"></label>
                        <select id="RentTimeSelectId" name="Renttime" class="form-control" asp-items="Html.GetEnumSelectList<HallRental.Data.Enums.Enums.RentTimeEnum>()" required> </select>
                    </div>
                    <div class="form-group">
                        <input it="checkBtn" type="button" onclick="CheckDateAndTime()" value="Check" class="w3-button w3-border w3-border-grey w3-round" />

                        <input type="submit" id="dateCheck-submit-btn" class="w3-button w3-round w3-dark-gray" value="Continue" style="display: none" />
                    </div>

                </form>
            </div>
        </div>

    </div>

        <div class="col-md-6 panel-form-body">
            <div>
                <div class="w3-container">
                    <div class="w3-panel w3-pale-blue w3-bottombar w3-border-blue" id="eventDateResult-success" style="display:none">
                        <h2>The Hall is Available</h2>
                    </div>
                    <div class="w3-panel w3-pale-red w3-bottombar w3-border-red" id="eventDateResult-not-success" style="display:none">
                        <h2>The Hall is Not available on this day and time</h2>
                    </div>
                </div>
                
                <hr />
                <a href="#" data-toggle="modal" data-target="#myModal">Cultural Center Schedule of Requested Donation</a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cultural Center Schedule of Requested Donation</h4>
                            </div>
                            <div class="modal-body">
                                @foreach (var item in Model.HallsPriceList)
                                {
                                    <h4 class="text-center">Hall: @item.Name</h4>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p><span class="hall-rental-prices-title"><b>Monday to Friday</b> 8:00 am to 3:00 pm:</span> <span class="hall-rental-prices">$@item.MondayFriday8amTo3pm.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Monday to Thursday</b> 4:00 pm to Midnight:</span> <span class="hall-rental-prices">$@item.MondayThursday4pmToMN.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Friday</b> 4:00 pm to Midnight:</span> <span class="hall-rental-prices">$@item.Friday4pmToMN.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Saturday</b> 8:00 am to 3:00 pm:</span> <span class="hall-rental-prices">$@item.Saturday8amTo3pm.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Saturday</b> 4:00 pm to Midnight:</span> <span class="hall-rental-prices">$@item.Saturday4pmToMN.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Sunday</b> 8:00 am to 3:00 pm:</span> <span class="hall-rental-prices">$@item.Sunday8amTo3pm.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title"><b>Sunday</b> 4:00 pm to Midnight:</span> <span class="hall-rental-prices">$@item.Sunday4pmToMN.ToString("F")</span></p>
                                            <br />
                                            <p><span class="hall-rental-prices-title">Tables and chairs cost per person:</span> <span class="hall-rental-prices">$@item.TablesAndChairsCostPerPerson.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title">Parking Lot Security service cost per hour:</span> <span class="hall-rental-prices">$@item.SecurityGuardCostPerHour.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title">Security Deposit Before 10 pm:</span> <span class="hall-rental-prices">$@item.SecurityDepositBefore10pm.ToString("F")</span></p>
                                            <p><span class="hall-rental-prices-title">Security Deposit After 10 pm:</span> <span class="hall-rental-prices">$@item.SecurityDepositAfter10pm.ToString("F")</span></p>


                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />



        </div>
    </div>


@section Scripts{

    <script>


        function checkIfSelectedDateIsCorrect() {
            let currentDateModel = '@(Model.CurrentDateTime)';
            let currentDate = new Date(currentDateModel);


            let reservationDateVal = $("#EventDateInputId").val();
            let reservationDate = new Date(reservationDateVal);

            if (currentDate.setHours(0, 0, 0, 0) > reservationDate) {
                $('#date-error').text('You cannot make a reservation for a past date')
                console.log('current Date - ' + currentDate);
                console.log('Reserv Date - ' + reservationDate);

               return false;
            } else {
                $('#date-error').text('')
                return true;
            }
        }


        $('#EventDateInputId').change(() => {
            resetCheck();
        })
        $('#RentTimeSelectId').change(() => {
            resetCheck();
        })
        $('#HallSelectId').change(() => {
            resetCheck();
        })


        function resetCheck() {
            $('#eventDateResult-success').hide();
            $('#eventDateResult-not-success').hide();
            $('#dateCheck-submit-btn').hide();
        }


        function CheckDateAndTime() {

            let eventDate = $('#EventDateInputId').val();
            let rentTime = $('#RentTimeSelectId').val();

            let hallSelected = $('.halls-dropDown option:selected').val();

        

            if (!eventDate || !hallSelected ) {

                if (!eventDate) {
                    $('#date-error').text('Please specify date')
                }else {
                    $('#date-error').text('')
                }

                if (!hallSelected) {
                    $('#hall-error').text('Please select Hall')
                }else {
                    $('#hall-error').text('')
                }
               
            } else {
                $('#date-error').text('')
                $('#hall-error').text('')

                

                let correctDate = checkIfSelectedDateIsCorrect();

                if (!correctDate) {
                    resetCheck();
                    return;
                }

                console.log(hallSelected)
                $.ajax({
                    type: "POST",
                    url: "/Events/CheckCurrentDate",
                    data: {
                        Date: eventDate,
                        RentTime: rentTime,
                        HallId: hallSelected
                    },
                    success: function (data) {

                        checkIfHallIsAvailable(data)
                    },
                    error: function (error) {
                        console.log(error)
                        alert('failed');
                    }
                })
            }

         

            function checkIfHallIsAvailable(data) {
                //console.log(data.eventExists)
                if (data.eventExists) {
                    console.log('not available')
                    $('#eventDateResult-success').hide();
                    $('#eventDateResult-not-success').show();
                    $('#dateCheck-submit-btn').hide();
                }
                else {
                    $('#eventDateResult-success').show();
                    $('#eventDateResult-not-success').hide();
                    $('#dateCheck-submit-btn').show();
                    console.log('available')

                }
            }

        }

    </script>

}