@model HallRental.Services.Admin.Models.Halls.HallsFormServiceModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit  @Model.Name</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Hall name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallCapacity" class="control-label">Hall Capacity</label>
                <input asp-for="HallCapacity" class="form-control" />
                <span asp-validation-for="HallCapacity" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="MondayFriday8amTo3pm" class="control-label">Monday to Friday 8:00 am to 3:00 pm:</label>
                <input asp-for="MondayFriday8amTo3pm" class="form-control" />
                <span asp-validation-for="MondayFriday8amTo3pm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MondayThursday4pmToMN" class="control-label">Monday to Thursday 4:00 pm to Midnight</label>
                <input asp-for="MondayThursday4pmToMN" class="form-control" />
                <span asp-validation-for="MondayThursday4pmToMN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Friday4pmToMN" class="control-label">Friday 4:00 pm to Midnight</label>
                <input asp-for="Friday4pmToMN" class="form-control" />
                <span asp-validation-for="Friday4pmToMN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saturday8amTo3pm" class="control-label">Saturday 8:00 am to 3:00 pm</label>
                <input asp-for="Saturday8amTo3pm" class="form-control" />
                <span asp-validation-for="Saturday8amTo3pm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saturday4pmToMN" class="control-label">Saturday 4:00 pm to Midnight</label>
                <input asp-for="Saturday4pmToMN" class="form-control" />
                <span asp-validation-for="Saturday4pmToMN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunday8amTo3pm" class="control-label">Sunday 8:00 am to 3:00 pm</label>
                <input asp-for="Sunday8amTo3pm" class="form-control" />
                <span asp-validation-for="Sunday8amTo3pm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunday4pmToMN" class="control-label">Sunday 4:00 pm to Midnight</label>
                <input asp-for="Sunday4pmToMN" class="form-control" />
                <span asp-validation-for="Sunday4pmToMN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TablesAndChairsCostPerPerson" class="control-label">Tables and chairs cost by person</label>
                <input asp-for="TablesAndChairsCostPerPerson" class="form-control" />
                <span asp-validation-for="TablesAndChairsCostPerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityGuardCostPerHour" class="control-label">Security Guard service cost per hour</label>
                <input asp-for="SecurityGuardCostPerHour" class="form-control" />
                <span asp-validation-for="SecurityGuardCostPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div style="text-align:right">
            <button class="btn btn-default"  data-toggle="confirmation" onclick="DeleteFunc(@Model.Id)">Disable @Model.Name</button>

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    function DeleteFunc(id) {
        var result = confirm("Are you sure you want to disable hall: @Model.Name")
        if (result) {
            console.log(`Item with id ${id}`);
            window.location.href = `/admin/halls/disable/${id}`;
        }
    }
</script>

