@model IEnumerable<HallsListServiceModel>
@{
    ViewData["Title"] = "Index";
}
<hr />
<div class="row">
    <div class="col-md-6">
        <a asp-area="Admin" asp-controller="Halls" asp-action="Create" class="btn btn-lg btn-default">Create New Hall</a>
    </div>
    <div class="col-md-6" style="text-align:right">
        <a asp-area="Admin" asp-controller="Halls" asp-action="DisabledHalls" class="btn btn-lg btn-default">Disabled Halls</a>
    </div>
</div>

<hr />
<h2>Halls</h2>

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading"><b>@item.Name</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @{
                        var routeValue = new Dictionary<string, string> { ["id"] = item.Id.ToString() };
                    }
                    <a asp-area="Admin" asp-controller="Halls" asp-action="Details" asp-all-route-data=" routeValue" class="btn btn-sm btn-success">Details</a>
                    <a asp-area="Admin" asp-controller="Halls" asp-action="Edit" asp-all-route-data=" routeValue" class="btn btn-sm btn-warning">Edit</a>
                </div>
                <div class="col-md-6" style="text-align: right">
                    Hall Capacity: @item.HallCapacity
                </div>
            </div>
        </div>
    </div>
}

